.main-row{
  text-align:center;
}

.logo-image{
  width:150px;
  height:50px;
}

.custom-social
{
  color:#FFF;
}

.custom-social-group
{
  padding-top: 10px;
}

.custom-remove-padding{
  padding: 0px 0px;
}

.navbar-inverse {
    background-color: #DC5843;
}

.navbar-inverse .navbar-nav>li>a {
    color: #FFFFFF;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: -80px;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #96241B;
}

.carousel-caption {
    z-index: 0;
    display: none;
    right: 0;
    bottom: 0;
    left: 0;
    top: 15% !important;
    padding-bottom: 30px;
    background: none;
    height: 100% !important;

}

.carousel-inner>.item {
    -webkit-transition: 1.2s ease-in-out left;
    transition: 1.2s ease-in-out left;
    -webkit-transition: 1.2s, ease-in-out, left;
    -moz-transition: 1.2s, ease-in-out, left;
    -o-transition: 1.2s, ease-in-out, left;
    transition: 1.2s, ease-in-out, left;
}

.carousel {
    border-radius: 55px 55px 0px 0px;
    overflow: hidden;
}

.text-shadow{
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.dropdown-menu {
    min-width: 110px;
}

.roundyCorners{
  border-radius: 55px 55px 0px 0px;
  overflow: hidden;
}


.fa-facebook, .fa-twitter, .fa-google-plus, .fa-youtube, .fa-envelope{
  color:#DC5843;
}
